<form action="/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" />
  </div>
  <div class="d-flex bd-highlight mb-2">
    <a href="/register" class="p-2 bd-highlight">Registrarse</a>
    <button
      type="submit"
      class="btn btn-primary ms-auto p-2 bd-highlight"
    >Ingresar</button>
  </div>
</form>